<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>PowerShell</title>
 <!-- BootstrapのCSS読み込み -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
 <script>
  function clearValues() {
    const filepath = document.getElementsByName("filepath")[0];
    filepath.value = "";
    const content = document.getElementsByName("content")[0];
    content.value = "";
    const message = document.getElementById("message");
    message.innerText = "";
    const result = document.getElementById("result");
    result.innerText = "";
  }
  
  function checkForm() {
    const filepath = document.getElementsByName("filepath")[0];
    if (filepath.value == "") {
      alert("ファイルが空欄です。");
      return false;
    }
    const message = document.getElementById("message");
    message.innerText = "Running ...";
    const result = document.getElementById("result");
    message.innerText = "";
    return true;
  }
 </script>
</head>

<body>
 <!-- ヘッダー -->
 <header class="container">
  <h1 class="text-center p-5 border border-primary rounded bg-light">PowerShell</h1>
  <p class="text-center"><a href="/">HOME</a></p>
 </header>

 <!-- 本文 -->
 <article class="container">
  <section class="row mt-4">
   <form method="POST" action="?" onsubmit="return checkForm();">
    <div class="mb-2">
     <label class="form-control-label">ファイル
      <input type="text" name="filepath" class="form-control" size="100" value="{{filepath}}">
     </label>
    </div>
    <div class="mb-2">
     <label class="form-control-label">
      <textarea name="content" class="form-control" rows="10" cols="100">{{content}}</textarea>
     </label>
    </div>
    <div class="mt-3 mb-5">
     <button class="btn btn-primary" type="submit" formaction="/powershell/load">ロードする (内容の確認)</button>
     <button class="btn btn-primary" type="submit" formaction="/powershell/save">ファイル保存する</button>
     <button class="btn btn-danger" type="submit" formaction="/powershell/execute">実行する</button>
     <button class="btn btn-secondary" type="button" onclick="javascript:clearValues();">クリア</button>
     <button class="btn btn-secondary" type="button" onclick="javascript:location.href='/';">キャンセル</button>
    </div>
    <p id="message" class="text-info">{{message}}</p>
    <pre id="result" class="mt-4" style="font-size:small">{{result}}</pre>
   </form>
  </section>
 </article>
 
 <!-- フッター -->
 <footer class="container">
  <p class="text-center mt-4"><a href="#top">TOP</a></p>
  <p>&nbsp;</p>
 </footer>
 <!-- BootstrapのJS読み込み -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
