<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width,initial-scale=1" />
 <title>環境変数 PATH</title>
 <!-- Bootstrap?ﾌCSS?ǂݍ??ﾝ -->
 <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
 <style>
 </style>
</head>

<body>
 <header class="container">
  <h1 class="text-center p-5 border border-warning rounded">環境変数 PATH</h1>
  <p class="text-center"><a href="/">HOME</a></p>
 </header>

 <article class="container">
   <section class="row mt-5">
    <ul style="margin-left:8%;font-size:small;color:navy;">{{paths}}</ul>
   </section>
 </article>
 
 <footer class="container">
  <p class="text-center mt-4"><a href="#top">TOP</a></p>
  <p>&nbsp;</p>
 </footer>
 <!-- Bootstrap?ﾌJS?ǂݍ??ﾝ -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
